.menu {
  background-color:#2f3151;
  width: 300px;
  height: 100vh;

  &__account {
    background-color:#253141;
    height: 96px;


    h2 {
      font-size: 16px;
      font-weight: bold;
      color:#FFFFFF;
      line-height: 96px;
      padding-left: 20px;
      float: left;
    }

    ul {
      line-height: 96px;

      li.list.group_info {
        float: right;
        padding-right: 5px;
      }

      li.list.user_info {
        float: right;
        padding-right: 20px;
      }

      i {
        color:#FFF;
      }
    }
  }

  .groups {
    padding: 0 20px;

    .group {

      &__name {
        color: white;
        font-size: 15px;
        padding-top: 20px;
      }

      &__message {
        color: white;
        font-size: 11px;
        margin-top:5px;
        padding-bottom: 40px;
      }
    }
  }
}
